In [1]:
import pandas as pd

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees.salary *= 2
    return employees

In [2]:
employees =
| name    | salary |
| ------- | ------ |
| Jack    | 19666  |
| Piper   | 74754  |
| Mia     | 62509  |
| Ulysses | 54866  |

SyntaxError: invalid syntax (1426540747.py, line 1)